BOT_TOKEN=__BOT_TOKEN__
AIRTABLE_API_KEY=__AIRTABLE_PAT__
AIRTABLE_BASE_ID=app3N2MFPvfDSuYxk
ADMIN_IDS=1688731002

# Brevo Email
BREVO_API_KEY=your_brevo_http_api_key
SENDER_NAME=Coach Toby
SENDER_EMAIL=prosperolumotobi@gmail.com
